.grid-stack {
  background: #FAFAD2;
}

.grid-stack-item-content {
  text-align: center;
  /* background-color: #18bc9c; */
}

.grid-stack-item-removing {
  opacity: 0.5;
}
.trash {
}

/* make nested grid have slightly darker bg take almost all space (need some to tell them apart) so items inside can have similar to external size+margin */
.grid-stack > .grid-stack-item.grid-stack-sub-grid > .grid-stack-item-content {
  background: rgba(0,0,0,0.1);
  /* inset: 8px 8px; */
  inset: 0;
  /* overflow: hidden; */
}
.grid-stack.grid-stack-nested {
  background: none;
  /* background-color: red; */
  /* take entire space */
  position: relative;
  inset: 0; /* TODO change top: if you have content in nested grid */
}

.w-full {
  width: 100%;
}

.h-full {
  height: 100%;
}
